[Datasets]
ade_path = /home/jseltmann/data/ADE20K_2021_17_01
vg_path = /home/jseltmann/data/VisualGenome
mscoco_path = /home/jseltmann/data/MSCOCO/annotations
cxc_path = /home/jseltmann/data/Crisscrossed-Captions/data
cxc_subset = sis_val.csv

[Functions]
generator = caption_adj_generator
selector = cxc_similar_selector
combinator = caption_adj_combinator

[General]
suite_path = /home/jseltmann/data/suites/caption_adj/test.json
finetune_path = /home/jseltmann/data/suites/caption_adj/train.json
suite_name = caption_adj
cutoff = 3.5
similar = True
trainsplit = 0.5
conditions = img_with_attr
             caption_with_adj
