[Datasets]
ade_path = /home/johann/Studium/MA/datasets/ADE20k/ADE20K/dataset/ADE20K_2021_17_01/images/ADE/training

[Functions]
generator = ade_thereis_generator
selector = ade_same_env_selector
combinator = ade_thereis_combinator

[General]
dataset = ade_path
save_path = test.json
suite_name = ade_thereis_test
num_examples = 10
