[Datasets]
ade_path = /home/jseltmann/data/ADE20K_2021_17_01
vg_path = /home/jseltmann/data/VisualGenome
mscoco_path = /home/jseltmann/data/MSCOCO/annotations
cxc_path = /home/jseltmann/data/Crisscrossed-Captions/data
cxc_subset = sis_val.csv

[Functions]
generator = vg_obj_list_generator
selector = cxc_similar_selector
combinator = vg_obj_list_combinator

[General]
#suite_path = /home/jseltmann/data/suites/vg_obj_list/test.json
#finetune_path = /home/jseltmann/data/suites/vg_obj_list/train.json
suites_dir = /home/jseltmann/data/suites/
suite_name = vg_obj_list
cutoff = 3.5
similar = True
trainsplit = 0.5
num_examples = 5000
conditions = pair_in_vg
